<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <!--<UnicastBusConfig>
        <MessageEndpointMappings>
            <add Assembly="Model"
                 Type="Model.ProcessOrderCommand"
                 Endpoint="Order" />
        </MessageEndpointMappings>
    </UnicastBusConfig>-->
</configuration>